@{
    ViewBag.Title = "¡Bienvenidos!";
}

<link rel="stylesheet" type="text/css" href="~/Content/Graphics.css" />
<script src="~/Scripts/noGeneric/Graphics.js"></script>

<div class="container-fluid">
    <div class="row">
        <h1 class="text-center">¡Bienvenidos!</h1>
    </div><br />
    <div class="row">
        <div class="panel">
            <div class="panel-heading panel-info alert-info">
                <div class="panel-title">
                    <h4><i class="glyphicon glyphicon-dashboard"></i> Presupuesto por Año</h4>
                </div>
            </div>
            <div class="panel-body">
                <div id="msgReportePresupuesto">
                    <i class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i> Cargando gráfico...
                </div>
                <div id="imgReportePresupuesto" style="display: none"></div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="row">
<a href="#"><img src="~/Content\Images\Programa.png" width="300" height="280" alt="Nombre del Software"> </a>
<a href="#"><img src="~/Content\Images\banner.png" width="800" height="280" alt="Cliente"> </a>
</div>
-->

@Scripts.Render("~/bundles/jqueryval")
