@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

<div class="jumbotron background-start" id="img">
    @*<h1>GCP</h1>*@
</div>
<!--
<div class="row">
<a href="#"><img src="~/Content\Images\Programa.png" width="300" height="280" alt="Nombre del Software"> </a>
<a href="#"><img src="~/Content\Images\banner.png" width="800" height="280" alt="Cliente"> </a>
</div>
-->
