<script type="text/javascript" src="~/Scripts/Chart.min.js"></script>
<script type="text/javascript" src="~/Scripts/Chart.utils.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <div id="mensajeCarga3">
                    <i class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i> <span id="mensaje3">Cargando gráfico...</span>
                </div>
                <div class="chart-container" style="position: relative; margin: auto; width: 96%; height: 36vw">
                    <canvas id="canvas3" style="height: 250px; display: none"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var utils = Samples.utils;

    $(function () {

        function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++ ) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        $.ajax({
            async: false,
            url: "/Graphics/PresupuestoPorMunicipio",
            type: "POST",
            data: JSON.stringify({
                anioSeleccionado: @(ViewBag.AnioSeleccionado > 0 ? ViewBag.AnioSeleccionado : "-1"),
                idEntidadContratante: @(ViewBag.IdEntidadSeleccionada > 0 ? ViewBag.IdEntidadSeleccionada : "-1"),
                numeroContrato: '@(!string.IsNullOrEmpty(ViewBag.NumeroContratoEnviado) ? ViewBag.NumeroContratoEnviado : string.Empty)',
                idEstadoContrato: @(ViewBag.IdEstadoSeleccionado > 0 ? ViewBag.IdEstadoSeleccionado : "-1")
            }),
            dataType: "json", 
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                var chartData = jQuery.parseJSON(result);
                console.log(chartData);

                var ctx = $("#canvas3");
                var chart = new Chart(ctx, {
                    type: "bar",
                    data: chartData,
                    options: {
                        responsive: true,
                        maintainAspectRatio: true,
                        legend: {
                            position: "bottom",
                            display: true,
                            labels: {
                                fontSize: 11
                            }
                        },
                        title: {
                            display: true,
                            text: "Presupuesto por Municipio",
                            fontSize: 24,
                            fontStyle: "normal",
                            fontColor: "#333"
                        },
                        scales: {
                            xAxes: [{
                                barThickness: 6
                            }],
                            yAxes: [{
                                id : 'y-axis 1',
                                ticks: {
                                    min: 0
                                }
                            },
                            {
                                type: 'linear',
                                id : 'y-axis 2',
                                position: 'right',
                                ticks: {
                                    min: 0
                                },
                                gridLines: {
								    drawOnChartArea: false
							    },
                                data: chartData[2],
                            }]
                        },
                        elements: {
                            rectangle: {
                                borderWidth: 2
                            }
                        }
                    }
                });

                for (var ds in chart.data.datasets) {
                    chart.data.datasets[ds].backgroundColor = getRandomColor();
                }

                chart.update();

                ctx.height = 350;
                
                $("#mensajeCarga3").fadeOut();
                $("#canvas3").fadeIn();
            }, 
            error: function () {
                $("#mensajeCarga3").fadeIn();
                $("#canvas3").fadeOut();
                $("#mensaje3").text("No se pudo cargar el gráfico");
            }
        });
        
    });

</script>