<script type="text/javascript" src="~/Scripts/Chart.min.js"></script>
<script type="text/javascript" src="~/Scripts/Chart.utils.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <div id="mensajeCarga3">
                    <i class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i> <span id="mensaje3">Cargando gráfico...</span>
                </div>
                <canvas id="canvas3" height="250" style="display: none"></canvas>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var utils = Samples.utils;

    $(function () {

        function colorizeLegend(v) {
            var c = v == 0 ? 'rgb(255, 238, 69)'
			    : v == 1 ? 'rgb(122, 154, 191)'
			    : v == 2 ? 'rgb(198, 52, 52)'
                        : 'rgb(119, 198, 183)';

            return c;
        }

        $.ajax({
            async: false,
            url: "/Graphics/PresupuestoPorMunicipio",
            type: "POST",
            data: JSON.stringify({
                anioSeleccionado: @(ViewBag.AnioSeleccionado > 0 ? ViewBag.AnioSeleccionado : "-1"),
                idEntidadContratante: @(ViewBag.IdEntidadSeleccionada > 0 ? ViewBag.IdEntidadSeleccionada : "-1"),
                numeroContrato: '@(!string.IsNullOrEmpty(ViewBag.NumeroContratoEnviado) ? ViewBag.NumeroContratoEnviado : string.Empty)',
                idEstadoContrato: @(ViewBag.IdEstadoSeleccionado > 0 ? ViewBag.IdEstadoSeleccionado : "-1")
            }),
            dataType: "json", 
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                var chartData = jQuery.parseJSON(result);

                var ctx = $("#canvas3");
                var chart = new Chart(ctx, {
                    type: "bar",
                    data: chartData,
                    options: {
                        responsive: true,
                        legend: {
                            position: "bottom",
                            display: true
                        },
                        title: {
                            display: true,
                            text: "Presupuesto por Municipio",
                            fontSize: 24,
                            fontStyle: "normal",
                            fontColor: "#333"
                        },
                        elements: {
                            rectangle: {
                                borderWidth: 2
                            }
                        }
                    }
                });

                for (var ds in chart.data.datasets) {
                    chart.data.datasets[ds].backgroundColor = colorizeLegend(ds);
                }

                chart.update();
                
                $("#mensajeCarga3").fadeOut();
                $("#canvas3").fadeIn();
            }, 
            error: function () {
                $("#mensajeCarga3").fadeIn();
                $("#canvas3").fadeOut();
                $("#mensaje3").text("No se pudo cargar el gráfico");
            }
        });
        
    });

</script>