<link rel="stylesheet" type="text/css" href="~/Content/Graphics.css" />

<div class="col-md-6 col-lg-6">
    @Html.Partial("~/Views/Graphics/PartialContratos.cshtml")
</div>
<div class="col-md-6 col-lg-6">
    @Html.Partial("~/Views/Graphics/PartialCIADS.cshtml")
</div>
<div class="col-md-12 col-lg-12">
    @Html.Partial("~/Views/Graphics/PartialValorContratadoPorAnio.cshtml")
</div>
<div class="col-md-12 col-lg-12">
    @Html.Partial("~/Views/Graphics/PartialPresupuestoMunicipio.cshtml")
</div>
<div class="clearfix"></div>