@model GCP_CF.Models.Usuarios

@{
    ViewBag.Title = "Crear Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Regresar", "Index", null, new { @class = "btn-back", @title = "Regresar al listado" })

<h2>Crear Usuario</h2>

@{
    Html.RenderPartial("PartialEditarUsuario", Model);
}