@{
    ViewBag.Title = "Acceso Denegado";
}

<h2><i class="glyphicon glyphicon-stop"></i> Acceso Denegado</h2>
<div class="panel-info">Usted no se encuentra autorizado para ingresar a este módulo del sistema.</div>