@model GCP_CF.Models.Facturas

@{
    ViewBag.Title = "Crear Factura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Regresar", "Index", null, new { @class = "btn-back", @title = "Regresar al listado" })

<h2>Crear Factura</h2>
@*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">*@
@{
    Html.RenderPartial("PartialFacturas", Model);
}