@model GCP_CF.Models.Contratos

@{
    ViewBag.Title = "Editar Contrato";
}

@Html.ActionLink("Regresar", "Index", null, new { @class = "btn-back", @title = "Regresar al listado" })

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<h2>Editar Contrato No. @Model.NumeroContrato</h2>

@{
    Html.RenderPartial("PartialEditarContrato", Model);
}